@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.About-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.abouTitle{
    color: black;
    font-size: 70px;
    font-family: 'Alexandria', sans-serif;
}

.pfAbout{
    color: black;
    font-size: 22px;
    font-family: "Inter", sans-serif;
    margin-left: 500px;
    margin-right: 500px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
}