@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    gap: 50px; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .name {
    font-family: 'Alexandria', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    white-space: nowrap;
    color: black;
    margin-bottom: 0;
  }
  
  .title {
    display: flex;
    font-family: 'Alexandria', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: black;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
  }
  
  .email, .cv, .github, .linkedin {
    padding: 12px 20px;
    border-radius: 120px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(158, 250, 72) ;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: rgb(158, 250, 72);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s;
  }

  .email:hover, .cv:hover, .github:hover, .linkedin:hover {
    transform: scale(1.05);
    border: 1px solid;
  }
  
  .Portrait {
    width: 500px;
    height: 500px;
  }
  