@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Projectstitle{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 70px;
    font-family: 'Alexandria', sans-serif;
    margin-bottom: 80px;
}

.Projectcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    gap: 50px; 
  }

.Project{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Projectinfo{
    max-width: min-content;
}

.Projecttitle{
    color: black;
    font-family: 'Alexandria', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0%;
    letter-spacing: 2px;
    white-space: nowrap;
}

.Projectsubt{
    margin-top: 0px;
    color: rgb(40, 40, 40);
    font-family: 'Alexandria', sans-serif;
}

.ImageProject{
    transform: scale(80%);
    transition: transform 0.3s
}

.ImageProject:hover{
    transform: scale(85%);
}

.ptec{
    color: black;
    font-weight: 800;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.ptec:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(158, 250, 72);
    font-weight: 1000;
  }

.pfProjectinfo{
    color: black;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.pfProjectinfo2{
    color: black;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    width: 305.5px;
}

.pbuttons{
    display: flex;
    gap: 20px;
}

.pgumroad, .pgithub{
    padding: 10px 15px;
    border-radius: 120px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(158, 250, 72);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: rgb(158, 250, 72);
    transition: transform 0.2s;
}

.pgumroad:hover, .pgithub:hover{
    transform: scale(1.05);
    border: 1px solid;
  }